<div class="col-xs-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button ng-repeat="m in modes" type="button" class="btn btn-default" ng-click="changeDisplayMode(m)"
            ng-class="{selected: m===displayMode}">{{m}}
    </button>
  </div>
</div>
<div class="col-xs-10">
  <tabset justified="true">
    <tab heading="Custom Entities Preview">
      <div class="row">
        <div class="row">
          <div class="col-xs-6">
            <h3>Available custom attribute views:</h3>

            <div>
              <table ng-table="tableParams2" class="table">
                <tr ng-repeat="e in $data">
                  <td data-title="'URI'" sortable="'type'" style="text-align: left;">{{ e.type }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-xs-6">
            <h3>Available custom entities views:</h3>
            <div>
              <table ng-table="tableParams3" class="table">
                <tr ng-repeat="e in $data">
                  <td data-title="'URI'" sortable="'type'" style="text-align: left;">{{ e.type }}</td>
                  <td data-title="'Html'" sortable="'html'">{{ e.html | limitTo:50}}</td>
                  <td data-title="'Action'">
                    <button ng-click="editEntity(e)" class="btn btn-primary btn-xs">
                      <i class="glyphicon glyphicon-plus"></i> {{'edit' | translate}}
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <hr/>
        <div class="row" style="margin: 10px;">
          <div class="col-xs-5" custom-preview-autocomplete sem-resource-object="semResource">
            <textarea class="col-xs-12" cols="10" ng-model="$parent.customEntity.html" style="height: 300px;">
            </textarea>
          </div>
          <div class="col-xs-2">
            <div class="col-xs-12">
              <button class="btn btn-primary" ng-click="previewCustomEntity()">Preview</button>
            </div>
            <div class="col-xs-12">
              <button class="btn btn-danger" ng-click="resetCustomEntity()">Reset</button>
            </div>
          </div>
          <div id="customEntityPreview" class="col-xs-5" style="max-height: 300px; overflow-y: scroll">
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-xs-6">
            <select ng-model="$parent.comboType" class="form-control" ng-options="type for type in types">
              <!--<option ng-repeat="type in types" value="{{type}}"><span style="color: #d3d3d3">{{type}}</span></option>-->
            </select>
          </div>
          <button class="btn btn-success" ng-click="saveCustomEntity()">Save</button>
        </div>
      </div>
    </tab>
    <tab heading="Custom Attributes Preview">
      <div class="row" style="margin: 10px;">
        <div class="row" style="margin: 5px;">
          <div class="col-xs-6">
            <label class="col-xs-6">All attributes:</label>
            <select id="semanticAttr" ng-model="$parent.semanticAttr"
                    ng-options="key for (key , value) in semResource">
            </select>

            <div style="max-height: 300px; overflow-y: scroll">
              {{$parent.semanticAttr}}
            </div>
          </div>

          <div class="col-xs-6">
            <label>Available custom Attributes:</label>
            <table ng-table="tableParams" class="table">
              <tr ng-repeat="e in $data">
                <td data-title="'URI'" sortable="'type'" style="text-align: left;">{{ e.type }}</td>
                <td data-title="'Html'" sortable="'html'">{{ e.html | limitTo:50}}</td>
                <td data-title="'Action'">
                  <button ng-click="editAttr(e)" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-plus"></i> {{'edit' | translate}}
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <hr/>
        <div class="row" style="margin: 10px;">
          <div class="col-xs-5" custom-preview-autocomplete sem-resource-object="semResource">
            <textarea class="col-xs-12 form-control" cols="10" ng-model="$parent.customAttribute.html"
                      style="height: 300px;">
            </textarea>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-primary" ng-click="previewCustomAttribute()">Preview</button>
            <button class="btn btn-danger" ng-click="resetCustomAttribute()">Reset</button>
          </div>
          <div id="customAttributePreview" class="col-xs-5"
               style="border: 1px ridge #d3d3d3; overflow-y: scroll; height: 300px;">
          </div>
        </div>
        <hr/>
        <div class="row" style="margin: 5px">

          <div class="col-xs-5" attr-name-autocomplete sem-resource-object="semResource">
            <input type="text" class="form-control" ng-model="$parent.customAttribute.type"/>
          </div>
          <div class="col-xs-1">
            <button class="btn btn-success" ng-click="saveCustomAttribute()">Save Custom Attribute</button>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>


