<div class="col-xs-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button ng-repeat="m in modes" type="button" class="btn btn-default" ng-click="changeDisplayMode(m)"
            ng-class="{selected: m===displayMode}">{{m}}
    </button>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <table border="1px solid black">
    <tr ng-repeat="(key,val) in semResource">
      <td style="vertical-align: top;font-weight: bold">{{key}}</td>
      <td>
        <ul ng-repeat="v in val">
          <li title="{{v.type}}">
            <input ng-if="v.value.length <= 50" value="{{v.value}}" style="width: 90%;" type="text"
                   class="form-control"/>
            <textarea ng-if="v.value.length > 50" style="width: 400px; height: 100px;"
                      class="form-control">{{v.value}}</textarea>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
