<style>
  .custom_span:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #006dcc;
  }
</style>

<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button ng-repeat="m in modes" type="button" class="btn btn-default" ng-click="changeDisplayMode(m)">{{m}}
    </button>
  </div>
</div>
<div class="col-xs-6 col-sm-3">
  <table ng-table="table" class="table" border="1px solid black">
    <tr ng-repeat="(key,val) in urls">
      <td data-title="'Name'">{{key}}</td>
      <td data-title="'URI'"><span class="custom_span" ng-click="updateURI(val); changeDisplayMode('preview')">{{val}}</span></td>
    </tr>
  </table>
</div>
