<div class="col-xs-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button ng-repeat="m in modes" type="button" class="btn btn-default" ng-click="changeDisplayMode(m)" ng-class="{selected: m===displayMode}">{{m}}</button>
  </div>
  <select ng-model="comboType" class="form-control">
    <option ng-repeat="type in types" value="{{type}}">{{type | urlExtractor}}</option>
  </select>
</div>
<div class="col-xs-6 col-sm-3">
  <table border="1px solid black">
    <tr ng-repeat="(key,val) in semResource">
      <td style="vertical-align: top;font-weight: bold">{{key}}</td>
      <td>
        <ul ng-repeat="v in val">
          <li title="{{v.type}}">
            <a ng-if="v.type=='uri'" class="clickable" ng-click="updateURI(v.value); changeDisplayMode('preview')">{{v.value}}</a>
            <span ng-if="v.type!='uri'">{{v.value}}</span>
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
