<div class="col-xs-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button ng-repeat="m in modes" type="button" class="btn btn-default" ng-click="changeDisplayMode(m)">{{m}}
    </button>
  </div>
</div>
<div class="col-xs-10">
  <div class="col-xs-12" custom-preview-autocomplete sem-resource-object="semResource">
    <textarea class="form-control" ng-model="editedEntity.html" style="height: 400px;"></textarea>
  </div>
  <hr/>
  <div>
    <button class="btn btn-primary" style="margin-top: 10px;" ng-click="previewEditedEntity()">Preview</button>
    <button class="btn btn-success" style="margin-top: 10px;" ng-click="saveEditedEntity()">Save</button>
  </div>
  <hr/>
  <div id="editedEntity"></div>
</div>
