<style>
  .custom_span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #006dcc;
  }
</style>

<div class="col-xs-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button ng-repeat="m in modes" type="button" class="btn btn-default" ng-click="changeDisplayMode(m)">{{m}}
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="col-xs-12" sparql-complete>
      <textarea cols="50" rows="15" ng-model="sparql_query"></textarea>
    </div>
      <button ng-click="runQuery()" class="pull-right btn btn-primary">Execute</button>
  </div>

  <div class="col-xs-5">
    <table ng-table="table" class="table" border="1px solid black">
      <tr ng-repeat="(key,val) in urls">
        <td data-title="'Name'">{{key}}</td>
        <td data-title="'URI'"><span class="custom_span"
                                     ng-click="updateURI(val); changeDisplayMode('preview')">{{val}}</span></td>
      </tr>
    </table>
  </div>
</div>
