<div class="col-xs-3  sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button ng-repeat="m in modes" type="button" class="btn btn-default" ng-click="changeDisplayMode(m)"
            ng-class="{selected: m===displayMode}">{{m}}
    </button>
  </div>
  <select ng-model="comboType" class="form-control">
    <option ng-repeat="type in types" value="{{type}}">{{type | urlExtractor}}</option>
  </select>
</div>
