<div class="col-xs-2 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="btn-group-vertical" role="group" aria-label="...">
    <button ng-repeat="m in modes" type="button" class="btn btn-default" ng-click="changeDisplayMode(m)">{{m}}
    </button>
  </div>
</div>
<div class="col-xs-10">
  <select ng-model="selectedProperty" class="form-control" ng-options="type for type in currentSupportedTypes" ng-change="updateType()">
  </select>
  <div id="previewEntity"></div>
</div>
