<h2>SPARQL</h2>

<!--<div sparql-complete>
  <combo ng-if="endpoints" data="endpoints" ng-bind="endpoint"></combo>
  <textarea ng-bind="query" cols="50" rows="5"></textarea>
  <span class="error">{{errors}}</span>
  <br/>
  <button ng-if="!hideExecute" ng-click="executeQuery()">Execute</button>
</div>-->

<sem-entity sem-resource="someRes" display-mode="list" rdf-type="default">

</sem-entity>
